alabaster==0.7.12
argh==0.26.2
Babel==2.7.0
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
docker==4.0.2
docutils==0.14
httplib2==0.13.0
idna==2.8
imagesize==1.1.0
INGInious==0.5.dev0
Jinja2==2.10.1
lti==0.9.4
lxml==4.3.4
MarkupSafe==1.1.1
msgpack-python==0.5.6
natsort==6.0.0
oauth2==1.9.0.post1
oauthlib==3.0.1
packaging==19.0
pathtools==0.1.2
pbs==0.110
psutil==5.6.3
Pygments==2.4.2
pymongo==3.8.0
pyparsing==2.4.0
pypiwin32==223
pytidylib==0.3.2
pytz==2019.1
pywin32==224
PyYAML==5.1.1
pyzmq==18.0.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
snowballstemmer==1.9.0
Sphinx==2.1.2
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
urllib3==1.25.3
watchdog==0.9.0
web.py==0.40.dev1
websocket-client==0.56.0
zipstream==1.1.4
